@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
  --text-weight: 400;
  --strong-weight: 600;   /* use 500 if you want lighter */
  --heading-weight: 600;
}

body {
  font-family: "STIX Two Text", serif;
  font-weight: var(--text-weight);
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: var(--heading-weight);
}

strong, b {
  font-weight: var(--strong-weight);
}

.home {
  max-width: 720px;
  margin: 60px auto;
  padding: 0 18px;
}

.home-link {
  font-size: 1.15rem;
  text-decoration: none;
}

.home-spacer {
  height: 18px;
}

.x-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

/* Make the logo match text scale */
.x-logo {
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
  vertical-align: -0.12em;
  fill: currentColor;
}
